allow zygote system_data_file:dir { write add_name };
allow zygote system_data_file:file { create write };
allow zygote zygote_tmpfs:file { create open };
allow zygote fuse:file { create read write open };
allow zygote zygote:capability sys_boot;
allow zygote proc_sysrq:file { write open };

allow zygote vfat:filesystem unmount;
allow zygote shell_exec:file execute;

allow zygote servicemanager:binder call;
allow zygote system_server:binder call;
allow zygote tmpfs:lnk_file create;
