# format: type,mount_point,file_name,mount_point2,mount_point3,verbatim,nv_merge,spl_merge
#    type            update type, volid values is A B M means android bootloader modem
#    mount_point     update partition main mount point, used to recorgnize partition
#    file_name       the name of file to write to the partition
#    mount_point2    second mount point for partition
#    mount_point3    third mount point for partition
#    verbatim        when do incremental update, force do full update
#    nv_merge        this partition is need processed by nvmerge, and volid values is
#                      default, w, t, l, wcn ,lf and so on
#    spl_merge       this partition is need processed by splmerge
#### boot loader ####
B,/spl,u-boot-spl-16k.bin,,,,,true
B,/uboot,u-boot.bin,,,true,,
#### GSM ####
M,/dsp,dsp.bin,,,,,
M,/modem,modem.bin,,,,,
M,/vmjaluna,vmjaluna.bin,,,,,
M,/fixnv,nvitem.bin,/fixnv1,/fixnv2,,default,
#### WCDMA ####
M,/wdsp,wdsp.bin,,,,,
M,/wmodem,wmodem.bin,,,,,
M,/wfixnv,wnvitem.bin,/wfixnv1,/wfixnv2,,w,
#### TDSCDMA ####
M,/tddsp,tddsp.bin,,,,,
M,/tdmodem,tdmodem.bin,,,,,
M,/tdfixnv,tdnvitem.bin,/tdfixnv1,/tdfixnv2,,t,
#### LTE ####
M,/ltedsp,ltedsp.bin,,,,,
M,/ltemodem,ltemodem.bin,,,,,
M,/ltefixnv,ltenvitem.bin,/ltefixnv1,/ltefixnv2,,l,
#### LTEFDD ####
M,/lfwarm,lfwarm.bin,,,,,
M,/lfgdsp,lfgdsp.bin,,,,,
M,/lfldsp,lfldsp.bin,,,,,
M,/lfmodem,lfmodem.bin,,,,,
M,/lffixnv,lfnvitem.bin,/lffixnv1,/lffixnv2,,l,
#### TDDLTE ####
M,/tltdsp,tltdsp.bin,,,,,
M,/tltgdsp,tltgdsp.bin,,,,,
M,/tlldsp,tlldsp.bin,,,,,
M,/tlmodem,tlmodem.bin,,,,,
M,/tlfixnv,tlnvitem.bin,/tlfixnv1,/tlfixnv2,,tl,
#### WCN ####
M,/wcnmodem,wcnmodem.bin,,,,,
M,/wcnfixnv,wcnnvitem.bin,/wcnfixnv1,/wcnfixnv2,,wcn,
### WL ####
M,/wlmodem,wlmodem.bin,,,,,
M,/wlwarm,wlwarm.bin,,,,,
M,/wlgdsp,wlgdsp.bin,,,,,
M,/wlldsp,wlldsp.bin,,,,,
M,/wcnfdl,wcnfdl.bin,,,,,
M,/wlfixnv,wlnvitem.bin,/wlfixnv1,/wlfixnv2,,lf,
#### other ####
M,/pmsys,pmsys.bin,,,,,
